In [4]:
year = int (input("ENter year"))

if year%4 == 0:
    print("leap year")
else:
    print("Not a leap yeear")

leap year

In [5]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']

pair = [[i,j] for i in lst1 for j in lst2] 
print (pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

Turple

In [7]:
empty = ()
print(empty)
print(type(empty))

()
<class 'tuple'>

In [8]:
lst = list()
print(lst)
tpl = tuple()
print(tpl)

[]
()

SETS

In [11]:
text = "My name is khan and i am not a terrorist is a"
words = text.split()

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'i', 'and', 'name', 'My', 'khan', 'a', 'is', 'terrorist', 'not', 'am'}
10

###TO do list

In [15]:
to_do_list = ["hit gym", "Study", "Eat"]

to_do_list.append("jogging")
print(to_do_list)
to_do_list.remove("hit gym")
print(to_do_list)

['hit gym', 'Study', 'Eat', 'jogging']
['Study', 'Eat', 'jogging']

## Organizing student grades

In [16]:
grades = [85, 92, 78, 81, 96]

avg = sum(grades)/len(grades)
print(f"Average Grade:{avg}")

Average Grade:86.4

## palindrome

In [17]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

is_palindrome("A man a plan a canal panama")

True

In [19]:
import numpy as np

In [21]:
import csv

with open ('example.csv',mode='w',newline='' ) as file:
    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['krish',32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krish', '32']

In [ ]:
from datetime import datetime,timedelta